@import "~@angular/material/theming";
$custom-typography: mat-typography-config(
  $font-family: Nunito,
);

@include mat-base-typography($custom-typography);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Nunito, Roboto, "Helvetica Neue", sans-serif;
}
